<html lang="en">
  <head>
    <title>Results Summary</title>
  </head>
  <body>
    <div class="card">
        <div class="score">

        </div>
        <div class="summary">
            <h2>Summary</h2>
            <div class="summary--details">
                <div class="summary--item">
                    <div class="summary--type">
                        <img src="images/results-summary/icon-reaction.svg" alt="">
                        <p>Reaction</p>
                    </div>
                    <div class="summary-score">
                        <span class="actual">
                            80
                        </span>
                        <span class="total">
                            /100
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>


<style lang="scss">
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

    html {
        --light-red: hsl(0, 100%, 67%);
        --orangey-yellow: hsl(39, 100%, 56%);
        --green-teal: hsl(166, 100%, 37%);
        --cobalt-blue: hsl(234, 85%, 45%);
        --light-slate-blue: hsl(252, 100%, 67%);
        --light-royal-blue: hsl(241, 81%, 54%);
        --violet-blue: hsla(256, 72%, 46%, 1);
        --persian-blue: hsla(241, 72%, 46%, 0);
        --white: hsl(0, 0%, 100%);
        --pale-blue: hsl(221, 100%, 96%);
        --light-lavender: hsl(241, 100%, 89%);
        --dark-gray-blue: hsl(224, 30%, 27%);

        box-sizing: border-box;
        font-size: 62.5%;
        font-family: Hanken Grotesk, sans-serif;
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .card {
        background-color: var(--white);
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
        width: 20rem;
    }

    .summary {
        display: flex;
        flex-direction: column;

        
        &--item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            background-color: hsla(0, 100%, 67%, 0.3);
            border-radius: 1.5rem;
        }
       
        &--type {
            display: flex;
            align-items: center;
            p {
                color: var(--light-red)
            }
        }


    }


</style>